{
	"plugins": [
		"transform-undefined-to-void",
		"@babel/plugin-proposal-class-properties"
	],
	"presets": [
		[
			"@babel/preset-env",
			{
				"modules": false
			}
		]
	],
	"env": {
		"production": {
			"only": [
				"src"
			]
		},
		"test": {
			"plugins": [
				"@babel/plugin-transform-modules-commonjs",
				"dynamic-import-node"
			]
		}
	}
}
